{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "airbnb/base",
    "plugins": [
      "react"
    ],
    "rules": {
        "semi": 2,
        "comma-dangle": 0,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "arrow-parens": 0
    }
}
