.bookmark-item {
  padding: 0 0.5rem;
  cursor: pointer;
}

.bookmark-item:hover {
  background-color: #eee;
}

.bookmark-user-picture {
  flex: 1;
}
.user-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(146, 146, 146, 0.38);
}

.bookmark-date {
  color: #999;
  text-align: center;
  width: 100%;
}

.bookmark-duration {
  float: right;
}

.bookmark-note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bookmark-item .icon {
  color: #999;
  font-size: 1rem;
}
